* {
  margin: 0;
}
.App {
  margin: 0;
  padding: 0;
  background: rgb(252, 250, 238);
  width: 100%;
  color: #343434;
}

.content {
  height: auto;
  width: 100%;
}
.mc-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
}

.mc-welcome {
  font-size: 70px;
  color: rgb(238, 219, 149);
  text-align: center;
}

.mc-welcome-text {
  color: rgb(209, 205, 200);
  margin: 30px;
  font-size: 20px;
  text-align: center;
}
.mc-nav {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  line-height: 1;
}
.mc-links {
  text-decoration: none;
  color: rgb(209, 205, 200);
  font-size: 15px;
  border: 2px solid rgb(209, 205, 200);
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  margin: 5px;
}
.mc-links:hover {
  color: rgb(238, 219, 149);
  border: 2px solid rgb(238, 219, 149);
  font-weight: bolder;
}

hr {
  margin: 10px;
  height: 5px;
  background-color: rgb(238, 219, 149);
  border: 1px solid rgb(238, 219, 149);
  border-radius: 5px;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

h3,
.contact-info {
  text-align: center;
}

h4 {
  margin-top: 10px;
}

ul {
  list-style-type: none;
}
p {
  margin: 10px;
}
.depart-head {
  text-align: left;
}

.accomo-section,
.amenities-section,
.depart-section,
.directions-section {
  margin: 1em;
}
.depart-section ul {
  list-style-type: circle;
}
.address-link {
  text-decoration: none;
  color: #343434;
}
.address-link:hover {
  color: rgb(175, 206, 172);
  font-weight: bolder;
}
.address {
  margin: 10px;
}
.google-maps {
  border-radius: 10px;
}
.contact-info {
  margin: 0;
  padding: 20px;
}

.lake-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.property-images {
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
  border-radius: 10px;
}
.lake-activity-link {
  max-width: 150px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.addtl-images {
  max-width: 150px;
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
figcaption {
  text-align: center;
  margin: 10px;
  text-decoration: none;
}
figcaption a {
  text-decoration: none;
  color: grey;
}

figcaption a:hover {
  color: rgb(175, 206, 172);
  font-weight: bolder;
}
@media screen and (min-width: 640px) {
  .accomodations-info,
  .amenities-info,
  .directions-info {
    display: flex;
  }
  .accomo-section,
  .amenities-section,
  .directions-section {
    flex: 1;
    width: 50%;
  }
  .mc-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    line-height: 1;
    width: 85%;
  }
  .lake-photos {
    justify-content: space-evenly;
  }
  .property-images {
    max-width: 275px;
    max-height: 275px;
  }
  .lake-activity-link {
    justify-content: space-evenly;
    max-width: 275px;
  }
  .addtl-images {
    max-width: 275px;
    max-height: 275px;
    width: 275px;
  }
}
